<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Darlo Stats</title>
    <script type="importmap"></script>
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--Font Awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DFCStats.Web.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="container-fluid p-0 d-flex h-100">
        <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white offcanvas-md offcanvas-start" style="width: 280px;">
            <a href="~/Home/Index" class="navbar-brand">
                <h5><img src="~/images/dfc_crest.png" width="20" class="d-inline-block" /> <span class="align-middle ms-1">Darlo Stats</span></h5>
            </a>
            <hr>
            <ul class="mynav nav nav-pills flex-column mb-auto">
                <li class="nav-item mb-1">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
                </li>
            </ul>


        </div>

        <div class="bg-light flex-fill" id="content">
            <div class="p-2 d-md-none d-flex text-white" id="navbar-modile">
                <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <h5><img src="~/images/dfc_crest.png" width="20" class="d-inline-block ms-3" /> <span class="align-middle ms-1">Darlo Stats</span></h5>
            </div>
            <div class="p-4">

                    <div class="d-flex justify-content-between">
                        <h5>@ViewData["PageHeading"]</h5>
                    </div>
                <hr>
                <div class="row">
                    <div class="col">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
