@if (TempData["Success"] != null)
{
    <div class="row mb-3">
        <div class="col-12">

            <div class="alert alert-success" role="alert">
                @TempData["Success"]
            </div>

        </div>
    </div>
}

<div>
    Club Controller
</div>